.cardEx {
    background-color: #fff;
    padding-top: 3rem;

    &__item {
        cursor: pointer;
        text-align: center;
        margin-bottom: 2rem;
        border-radius: 5px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        &-img {
            margin-bottom: 1rem;
            & img {
                width: 100%;
            }
        }
        & h4 {
            color: #1b75bb;
            font-size: 1.4rem;
            font-weight: 500;
            padding-bottom: 1rem;
        }

        &:hover {
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.4);
            transform: scale(1.05);
        }
    }
}
