.transport {
    background-color: #fff;
    padding-top: 2rem;
    &__container {
        margin: 0 auto;
    }

    &__blog-img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
}
